:root {
    /* 색상 */
    --color-background: #F5F5F5;
    --color-main-blk: #111111;
    --color-main-wht: #ffffff;
    --color-text-sub1: #505050;
    --color-text-sub2: #767676;
    --color-disabled: #999999;

    --visual-title-01: #D9B179;
    --visual-desc-01: #B29264;

    /* Font-size */
    --textDisplay1: 2rem;       /* 32px */
    
    --textTitle1: 1.75rem;       /* 28px */

    --textSubtitle1: 1.25rem;     /* 20px */
    --textSubtitle2: 1.125rem;     /* 18px */
    --textSubtitle3: 0.875rem;      /* 14px */

    --textBody1: 0.9375rem;     /* 15px */
    --textBody2: 0.875rem;      /* 14px */

    --textCaption1: 0.75rem;     /* 12px */
    --textCaption2: 0.8125rem;   /* 13px */
    --textButton1: 1rem;        /* 16px */
    --textButton2: 0.875rem;    /* 14px */
    --textButton3: 0.75rem;     /* 12px */


    /* line-height */
    --lineHeight130: 130%;
    --lineHeight140: 140%;
    --lineHeight145: 145%;

    /* font-weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* radius */
    --radius20: 20px;
    --radius10: 10px;

    /* spacing */    
    --pageInset: 16px;
    --sectionSpace: 70px;
    --sectionContentSpace: 18px;
}


@media (min-width: 768px) {
    :root {

        /* Font-size */
        --textDisplay1: 3rem;           /* 48px */
        
        --textTitle1: 2rem;       /* 28px */

        --textSubtitle1: 1.5rem;          /* 24px */
        
        /* spacing */    
        --pageInset: 20px;
    }
}


@media (min-width: 1024px) {
    :root {
        
        /* Font-size */
        --textDisplay1: 4rem;           /* 64px */

        --textTitle1: 2.5rem;       /* 40px */
        
        --textSubtitle1: 2rem;       /* 28px */
        --textSubtitle2: 1.5rem;      /* 24px */
        --textSubtitle3 : 1.125rem;      /* 18px */

        --textBody1: 1rem;     /* 16px */
        --textButton3: 1rem;     /* 16px */

        /* spacing */    
        --sectionSpace: 100px;

    }
}